<body>
<div class="header">Login</div>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>Login</mat-label>
                <input matInput type="text" formControlName="login">
                <mat-error *ngIf="formGroup.get('login') 
                                && formGroup.get('login')?.invalid
                                && formGroup.get('login')?.touched">
                    O login é obrigatória.
                </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill" class="full-width-input">
                <mat-label>senha</mat-label>
                <input matInput type="text" formControlName="senha">
                <mat-error *ngIf="formGroup.get('senha') 
                                && formGroup.get('senha')?.invalid
                                && formGroup.get('senha')?.touched">
                    A senha é obrigatória.
                </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="white" 
                    (click)="entrar()"
                    [disabled]="formGroup.invalid"> 
                Entrar 
            </button>
            <button mat-raised-button  
                    routerLink="/cadastro"> 
                cadastrar 
            </button>
        </mat-card-actions>
    </mat-card>
<div class="footer">Footer</div>
</body>