.toolbar-title {
    flex: 1;
    text-align: center;
  }

.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}

.full-color-input {
    color: white;
    background-color: dimgray;
}

.back-proprio {
    background-color: black;
}

mat-card {
    background-color:  #673ab7;
    max-width: 800px;
    margin: 2rem auto;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    padding: 2rem; 
}

button[mat-raised-button] {
    width: 120px;
}

button[mat-raised-button]:not(:last-child) {
    margin-right: 1rem;
}

