<div style="display: grid; place-items: center; background: white">
  <div style="width: 1440px; height: 0px;  position: relative; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 1440px; height: 0px; transform: rotate(180deg); transform-origin: 0 0; opacity: 0.30; border: 0.50px black solid"></div>
  </div>
  <div style=" position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
    <div style="flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: flex">
      <p-table [value]="carros" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Products
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Cidade</th>
                <th>Ano</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-carro>
            <tr>
                <td>{{carro.nomeCarro}}</td>
                <div style="width: 170px; height: 138px;">
                  <td><img style="width: 121px; height: 114px;"src="{{carro.nomeImagem}}" /></td>
                </div>
                <td>{{carro.preco | currency:'USD'}}</td>
                <td>{{carro.cidade}}</td>
                <td>{{carro.ano}}</td>
                <td>
                  <p-button 
                        pRipple 
                        icon="pi pi-check-square" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (click)="editProduct(carro)" />
                <p-button 
                    pRipple 
                    icon="pi pi-trash" 
                    severity="danger" 
                    [rounded]="true" 
                    [outlined]="true"  
                    (click)="deleteProduct(carro)"/>
            </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{carros ? carros.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
    <p-dialog 
        [(visible)]="productDialog" 
        [style]="{ width: '450px' }" 
        header="Detalhes do Produto" 
        [modal]="true" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                <img style="width: 400px; height: 238px;"
                    [src]="carro.nomeImagem" 
                    [alt]="carro.nomeCarro" 
                    class="block m-auto pb-3" 
                    *ngIf="carro.nomeImagem" />
                <div class="field">
                    <label for="name">Name</label>
                    <input readonly="true"
                        type="text" 
                        pInputText 
                        id="name" 
                        [(ngModel)]="carro.nomeCarro" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !carro.nomeCarro">
                        Name is required.
                    </small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea readonly="true"
                        id="description" 
                        pInputTextarea 
                        [(ngModel)]="carro.carroSpec" 
                        required 
                        rows="3" 
                        cols="20">
                    </textarea>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber  [readonly]="true"
                            id="price" 
                            [(ngModel)]="carro.preco" 
                            mode="currency" 
                            currency="USD" 
                            locale="en-US" />
                    </div>
                    <div class="field">
                      <label for="name">Cidade</label>
                      <input readonly="true"
                          type="text" 
                          pInputText 
                          id="name" 
                          [(ngModel)]="carro.cidade" 
                          required 
                          autofocus />
                      <small class="p-error" *ngIf="submitted && !carro.cidade">
                          Name is required.
                      </small>
                  </div>
                  <div class="field">
                      <label for="name">Versão</label>
                      <input readonly="true"
                          type="text" 
                          pInputText 
                          id="name" 
                          [(ngModel)]="carro.versao" 
                          required 
                          autofocus />
                      <small class="p-error" *ngIf="submitted && !carro.versao">
                          Name is required.
                      </small>
                  </div>
                  <div class="field">
                        <label for="name">Ano</label>
                        <input readonly="true"
                            type="text" 
                            pInputText 
                            id="name" 
                            [(ngModel)]="carro.ano" 
                            required 
                            autofocus />
                        <small class="p-error" *ngIf="submitted && !carro.ano">
                            Name is required.
                        </small>
                    </div>
                    <div class="field">
                      <label for="name">Cor</label>
                      <input readonly="true"
                          type="text" 
                          pInputText 
                          id="name" 
                          [(ngModel)]="carro.cor" 
                          required 
                          autofocus />
                      <small class="p-error" *ngIf="submitted && !carro.cor">
                          Name is required.
                      </small>
                  </div>
                  <div class="field">
                    <label for="name">kilometragem</label>
                    <input readonly="true"
                        type="text" 
                        pInputText 
                        id="name" 
                        [(ngModel)]="carro.kilometragem" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !carro.kilometragem">
                        Name is required.
                    </small>
                </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    pRipple 
                    label="Cancel" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (click)="hideDialog()" />
                <p-button 
                    pRipple 
                    label="Comprar" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (click)="comprar(carro)"/>
            </ng-template>
    </p-dialog>
    <p-dialog 
        [(visible)]="gerarQrCodeDialog" 
        [style]="{ width: '450px' }" 
        header="Pagamento Via PIX" 
        [modal]="true" 
        styleClass="p-fluid">
        <div style="align-items: center;text-align: center;">
          <qrcode style="align-items: center; align-content: center;" [qrdata]="carro.carroSpec" [width]="280" [errorCorrectionLevel]="'M'"></qrcode>
          <ng-container *ngIf="!showIcon; else iconTemplate">
            <p-progressSpinner 
              styleClass="w-4rem h-4rem" 
              strokeWidth="8" 
              fill="var(--surface-ground)" 
              animationDuration=".9s">
            </p-progressSpinner>
          </ng-container>
          <ng-template #iconTemplate>
            <i class="pi pi-check" style="border-radius: 50%;font-size: 7rem;background-color: greenyellow;"></i>
          </ng-template>
        </div>
        
    </p-dialog>
    </div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 173px; display: inline-flex">
      <div style="justify-content: flex-start; align-items: flex-end; gap: 16px; display: flex">
        <div style="padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 164px; border-radius: 4px; overflow: hidden; border: 1px black solid; justify-content: flex-start; align-items: center; display: flex">
          <div style="opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Coupon Code</div>
        </div>
        <button style="padding-left: 48px; padding-right: 48px; padding-top: 16px; padding-bottom: 16px; background: #9300a0; border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: flex">
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Aplicar Coupon</div>
        </button>
      </div>
      <div style="width: 500px; height: 324px; position: relative; border-radius: 4px; overflow: hidden; border: 1.50px black solid">
        <form [formGroup]="formGroup" (ngSubmit)="editProduct(carro)">
        <div style="left: 24px; top: 32px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Cart Total</div>
        <div style="left: 14px; top: 84px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 307px; display: inline-flex">
          <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Subtotal:</div>
          <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">R$ {{carro.preco | currency:'USD'}}</div>
        </div>
        <div style="left: 14px; top: 140px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 314px; display: inline-flex">
          <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Shipping:</div>
          <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Free</div>
        </div>
        <div style="left: 12px; top: 196px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 335px; display: inline-flex">
          <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Total:</div>
          <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">R$ {{carro.preco | currency:'USD'}}</div>
        </div>
        <button type="submit" style="padding-left: 48px; padding-right: 48px; padding-top: 16px; padding-bottom: 16px; left: 150px; top: 246px; position: absolute; background: #9300a0; border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Finalizar Compra</div>
        </button>
        <div style="width: 422px; height: 0px; border: 1px black solid"></div>
        <div style="width: 422px; height: 0px; border: 1px black solid"></div>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div style="width: 100%; height: 440px; padding-top: 80px; padding-bottom: 24px; position: relative; background: black; flex-direction: column; justify-content: flex-end; align-items: center; gap: 60px; display: inline-flex">
    <div style="justify-content: center; align-items: flex-start; gap: 87px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="width: 118px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
              <div style="color: #FAFAFA; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.72px; word-wrap: break-word">Exclusive</div>
            </div>
            <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Subscribe</div>
          </div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Get 10% off your first order</div>
        </div>
        <div style="width: 217px; padding-top: 12px; padding-bottom: 12px; padding-left: 16px; border-radius: 4px; border: 1.50px #FAFAFA solid; justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
          <div style="opacity: 0.40; color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Enter your email</div>
          <div style="width: 24px; height: 24px; padding-left: 2px; padding-right: 2px; padding-top: 3px; padding-bottom: 3px; justify-content: center; align-items: center; display: flex">
            <div style="width: 20px; height: 18px; border: 1.50px #FAFAFA solid"></div>
          </div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Support</div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="width: 175px; color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">exclusive.com</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">+88015-88888-9999</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Account</div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">My Account</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Login / Register</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Cart</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Wishlist</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Shop</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Quick Link</div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Privacy Policy</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Terms Of Use</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">FAQ</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Contact</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
          <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Download App</div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="opacity: 0.70; color: #FAFAFA; font-size: 12px; font-family: Poppins; font-weight: 500; line-height: 18px; word-wrap: break-word">Save $3 with App New User Only</div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
              <div style="width: 80px; height: 80px; padding: 2px; background: black; justify-content: center; align-items: center; display: flex">
                <img style="width: 76px; height: 76px; border: 2.50px white solid" src="https://via.placeholder.com/76x76" />
              </div>
              <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                <div style="width: 110px; height: 40px; position: relative; background: #030406">
                  <img style="width: 104px; height: 30px; left: 3px; top: 5px; position: absolute; border-radius: 4px; border: 0.60px #FAFAFA solid" src="https://via.placeholder.com/104x30" />
                  <div style="width: 0.56px; height: 0.95px; left: 99.39px; top: 22.24px; position: absolute; border: 1px white solid"></div>
                  <div style="width: 1.26px; height: 3.92px; left: 98.19px; top: 21.96px; position: absolute; border: 1px white solid"></div>
                  <div style="width: 0.31px; height: 0.06px; left: 94.91px; top: 22.24px; position: absolute; border: 1px white solid"></div>
                  <div style="width: 1.16px; height: 2.21px; left: 98.39px; top: 22.71px; position: absolute; border: 1px white solid"></div>
                </div>
                <div style="width: 110px; height: 40px; padding: 3px; background: black; justify-content: center; align-items: center; display: inline-flex">
                  <img style="width: 104px; height: 34px; border-radius: 4px; border: 0.60px white solid" src="https://via.placeholder.com/104x34" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
          <div style="width: 24px; height: 24px; padding-top: 3px; padding-bottom: 3px; padding-left: 7px; padding-right: 6.50px; justify-content: center; align-items: center; display: flex">
            <div style="width: 10.50px; height: 18px; background: white"></div>
          </div>
          <div style="width: 24px; height: 24px; padding-right: 1.94px; justify-content: flex-start; align-items: center; display: flex">
            <div style="width: 27.06px; height: 24px; position: relative">
              <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
              <div style="width: 20.06px; height: 16.65px; left: 7px; top: 4px; position: absolute; background: white; border: 0.20px black solid"></div>
            </div>
          </div>
          <div style="width: 24px; height: 24px; padding: 3px; justify-content: center; align-items: center; display: flex">
            <div style="width: 18px; height: 18px; position: relative">
              <div style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid"></div>
              <div style="width: 8px; height: 8px; left: 5px; top: 5px; position: absolute; border: 1.50px white solid"></div>
              <div style="width: 2px; height: 2px; left: 13.50px; top: 2.50px; position: absolute; background: white"></div>
            </div>
          </div>
          <div style="width: 24px; height: 24px; padding-top: 3px; padding-bottom: 3.50px; padding-left: 3px; padding-right: 3.50px; justify-content: center; align-items: center; display: flex">
            <div style="width: 17.50px; height: 17.50px; background: white"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="opacity: 0.40; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
      <div style="width: 1440px; height: 0px; opacity: 0.40; border: 1px white solid"></div>
      <div style="opacity: 0.60; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
          <div style="width: 20px; height: 20px; padding: 1.67px; justify-content: center; align-items: center; display: flex">
            <div style="width: 16.67px; height: 16.67px; position: relative">
              <div style="width: 16.67px; height: 16.67px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid"></div>
              <div style="width: 5.83px; height: 6.67px; left: 5px; top: 5px; position: absolute; border: 1.50px white solid"></div>
            </div>
          </div>
          <div style="color: white; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Copyright Rimel 2022. All right reserved</div>
        </div>
      </div>
    </div>
  </div>  
</div>