<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Carrinho</span>
    <div [class.dark-theme]="isDarkMode">
      <button mat-raised-button style="font-size: 10px;"
              color="primary" 
              (click)="toggleTheme()"> 
              <mat-icon>{{ isDarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
              Dark Mode 
      </button>
  </div>
  </div>
</mat-toolbar>
<div class="header">
  <span >Total de Carros:  {{ carros.length }}</span>
    <input type="text" placeholder="Pesquisar...">
</div>
<mat-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Explore nossos Produtos!</span>
  </div>
</mat-toolbar>

<mat-selection-list routerLink="/carros" style="background-color: dimgray;">
  <mat-list-item *ngFor="let carro of carros" class="md-3-line" ng-repeat="item in todos" ng-click="null">
    <div class="md-list-item-text" layout="column">
      <h3 style="margin: auto;">{{carro.nomeCarro}}</h3>
      <p style="margin: auto;">{{carro.carroSpec}}</p>
    </div>
  </mat-list-item>
</mat-selection-list>
  
  