<div style=" position: relative; background: white">
  <div style="left: 135px; top: 76px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Gerenciamento de Conta</div>
  <div style="left: 135px; top: 228px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Meus Pedidos</div>
  <div style="width: 160px; height: 23px; left: 135px; top: 340px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Lista de Favoritos</div>
  <div style="left: 170px; top: 116px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
    <div style="color: #DB4444; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Meu Perfil</div>
    <div style="width: 220px; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Minhas Formas De Pagamento</div>
  </div>
  <div style="left: 170px; top: 268px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
    <div style="opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Produtos Comprados</div>
    <div style="opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Produtos Cancelados</div>
  </div>
  <div style="width: 870px; height: 630px; left: 435px; top: 76px; position: absolute; background: white; box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05); border-radius: 4px; overflow: hidden">
    <div style="left: 80px; top: 40px; position: absolute; color: #DB4444; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Edit Your Profile</div>
    <div style="left: 80px; top: 84px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 50px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">First Name</div>
        <div style="width: 330px; height: 50px; position: relative">
          <div style="width: 330px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
          <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Md</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Last Name</div>
        <div style="width: 330px; height: 50px; position: relative">
          <div style="width: 330px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
          <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Rimel</div>
        </div>
      </div>
    </div>
    <div style="left: 80px; top: 190px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 50px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Email</div>
        <div style="width: 330px; height: 50px; position: relative">
          <div style="width: 330px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
          <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">rimel1111.com</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Address</div>
        <div style="width: 330px; height: 50px; position: relative">
          <div style="width: 330px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
          <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Kingston, 5236, United State</div>
        </div>
      </div>
    </div>
    <div style="left: 80px; top: 296px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Password Changes</div>
        <div style="width: 710px; height: 50px; position: relative">
          <div style="width: 710px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
          <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Current Passwod</div>
        </div>
      </div>
      <div style="width: 710px; height: 50px; position: relative">
        <div style="width: 710px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
        <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">New Passwod</div>
      </div>
      <div style="width: 710px; height: 50px; position: relative">
        <div style="width: 710px; height: 50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 4px"></div>
        <div style="left: 16px; top: 13px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Confirm New Passwod</div>
      </div>
    </div>
    <div style="left: 487px; top: 534px; position: absolute; justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
      <div style="color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Cancel</div>
      <div style="padding-left: 48px; padding-right: 48px; padding-top: 16px; padding-bottom: 16px; background: #DB4444; border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Save Changes</div>
      </div>
    </div>
  </div>
  <div style="width: 100%; height: 440px; padding-top: 80px; padding-bottom: 24px; left: 0px; top: 706px; position: absolute; background: black; flex-direction: column; justify-content: flex-end; align-items: center; gap: 60px; display: inline-flex">
    <div style="justify-content: center; align-items: flex-start; gap: 87px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="width: 118px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
              <div style="color: #FAFAFA; font-size: 24px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.72px; word-wrap: break-word">Exclusive</div>
            </div>
            <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Subscribe</div>
          </div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Get 10% off your first order</div>
        </div>
        <div style="width: 217px; padding-top: 12px; padding-bottom: 12px; padding-left: 16px; border-radius: 4px; border: 1.50px #FAFAFA solid; justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
          <div style="opacity: 0.40; color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Enter your email</div>
          <div style="width: 24px; height: 24px; padding-left: 2px; padding-right: 2px; padding-top: 3px; padding-bottom: 3px; justify-content: center; align-items: center; display: flex">
            <div style="width: 20px; height: 18px; border: 1.50px #FAFAFA solid"></div>
          </div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Support</div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="width: 175px; color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">exclusive.com</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">+88015-88888-9999</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Account</div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">My Account</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Login / Register</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Cart</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Wishlist</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Shop</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Quick Link</div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Privacy Policy</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Terms Of Use</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">FAQ</div>
          <div style="color: #FAFAFA; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Contact</div>
        </div>
      </div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
          <div style="color: #FAFAFA; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 28px; word-wrap: break-word">Download App</div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
            <div style="opacity: 0.70; color: #FAFAFA; font-size: 12px; font-family: Poppins; font-weight: 500; line-height: 18px; word-wrap: break-word">Save $3 with App New User Only</div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
              <div style="width: 80px; height: 80px; padding: 2px; background: black; justify-content: center; align-items: center; display: flex">
                <img style="width: 76px; height: 76px; border: 2.50px white solid" src="https://via.placeholder.com/76x76" />
              </div>
              <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                <div style="width: 110px; height: 40px; position: relative; background: #030406">
                  <img style="width: 104px; height: 30px; left: 3px; top: 5px; position: absolute; border-radius: 4px; border: 0.60px #FAFAFA solid" src="https://via.placeholder.com/104x30" />
                  <div style="width: 0.56px; height: 0.95px; left: 99.39px; top: 22.24px; position: absolute; border: 1px white solid"></div>
                  <div style="width: 1.26px; height: 3.92px; left: 98.19px; top: 21.96px; position: absolute; border: 1px white solid"></div>
                  <div style="width: 0.31px; height: 0.06px; left: 94.91px; top: 22.24px; position: absolute; border: 1px white solid"></div>
                  <div style="width: 1.16px; height: 2.21px; left: 98.39px; top: 22.71px; position: absolute; border: 1px white solid"></div>
                </div>
                <div style="width: 110px; height: 40px; padding: 3px; background: black; justify-content: center; align-items: center; display: inline-flex">
                  <img style="width: 104px; height: 34px; border-radius: 4px; border: 0.60px white solid" src="https://via.placeholder.com/104x34" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
          <div style="width: 24px; height: 24px; padding-top: 3px; padding-bottom: 3px; padding-left: 7px; padding-right: 6.50px; justify-content: center; align-items: center; display: flex">
            <div style="width: 10.50px; height: 18px; background: white"></div>
          </div>
          <div style="width: 24px; height: 24px; padding-right: 1.94px; justify-content: flex-start; align-items: center; display: flex">
            <div style="width: 27.06px; height: 24px; position: relative">
              <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
              <div style="width: 20.06px; height: 16.65px; left: 7px; top: 4px; position: absolute; background: white; border: 0.20px black solid"></div>
            </div>
          </div>
          <div style="width: 24px; height: 24px; padding: 3px; justify-content: center; align-items: center; display: flex">
            <div style="width: 18px; height: 18px; position: relative">
              <div style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid"></div>
              <div style="width: 8px; height: 8px; left: 5px; top: 5px; position: absolute; border: 1.50px white solid"></div>
              <div style="width: 2px; height: 2px; left: 13.50px; top: 2.50px; position: absolute; background: white"></div>
            </div>
          </div>
          <div style="width: 24px; height: 24px; padding-top: 3px; padding-bottom: 3.50px; padding-left: 3px; padding-right: 3.50px; justify-content: center; align-items: center; display: flex">
            <div style="width: 17.50px; height: 17.50px; background: white"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="opacity: 0.40; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
      <div style="width: 1440px; height: 0px; opacity: 0.40; border: 1px white solid"></div>
      <div style="opacity: 0.60; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
          <div style="width: 20px; height: 20px; padding: 1.67px; justify-content: center; align-items: center; display: flex">
            <div style="width: 16.67px; height: 16.67px; position: relative">
              <div style="width: 16.67px; height: 16.67px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid"></div>
              <div style="width: 5.83px; height: 6.67px; left: 5px; top: 5px; position: absolute; border: 1.50px white solid"></div>
            </div>
          </div>
          <div style="color: white; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Copyright Rimel 2022. All right reserved</div>
        </div>
      </div>
    </div>
  </div>
</div>