/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
:root {
    --primary: #1976d2;
    --body: #fff;
    --text-menu: #fff;
    --text-body: #4b4b4b;
  }
  
.dark-theme {
--primary: #0d47a1;
--body: black;
--text-menu: #fff;
--text-body: #fff;
}
html, body { height: 100%; }
body {
background-color: var(--body);
color: var(--text-body);
margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}